@mixin font($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin font__default {
    @include font(15px, false, 200, 22px);
}

@mixin font__heading {
    font-size: 1.2em;
    font-weight: 600;
}

@mixin padding__basic {
    padding: 10px;
}

@mixin padding__button {
    padding: 6px 10px;
}

@mixin margin__basic {
    margin: 10px 0;
}

@mixin border__basic {
    border: 2px dashed $color_X;
}

@mixin border__horizontal {
    @include border__basic;
    border-right: 0;
    border-left: 0;
}

$color_F: #FFF;
$color_X: #B0B1A2;
$color_XO: #373829;
$color_A: #292A21;
$piece_size: 15px;

body {
    @include font__default;
    background-color: $color_A;
    color: $color_X;
    line-height: 22px;
}

a, a:link, a:visited {
    color: $color_X;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.game {
    margin: 0 auto;
    width: 410px;
}

.game__head {
    @include margin__basic;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 80px;
}

.game__main {
    @include margin__basic;
    @include border__basic;
    min-height: 450px;
    position: relative;
}

.game__menu {
    @include padding__basic;
    @include border__horizontal;
    position: absolute;
    background-color: $color_A;
    box-sizing: border-box;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: space-around;
}

button {
    @include font__default;
    @include padding__button;
    background-color: $color_X;
    color: $color_A;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.piece__row {
    display: flex;
}
  
.piece__block {
    width: $piece_size;
    height: $piece_size;
    background-color: $color_X;
    margin: 1px;
    box-sizing: border-box;
}

.piece__block--empty {
    background-color: $color_A;
}

.board--grid {
    background-color: $color_XO;
}

.board--dimmed {
    opacity: 0.4;
}